#Ficheros generales
*/node_modules
*/*.zip
*/*.enc
*/*.txt
*/*.dec

#Cliente
*/encriptado
*/desencriptado
cliente/db.json
cliente/*.tk
cliente/keys/encryptFiles.key

#Servidor
servidor/newDb.json
servidor/sharedFiles.json
servidor/files
servidor/descarga.tmp
servidor/logs/*.log